appnope==0.1.0
argon2-cffi==20.1.0
asgiref==3.2.10
attrs==20.1.0
Babel==2.8.0
backcall==0.2.0
bleach==3.1.5
boto==2.49.0
boto3==1.14.17
botocore==1.17.17
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
decorator==4.4.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.0.8
django-boto==0.3.12
django-environ==0.4.5
django-heroku==0.3.1
django-phone-field==1.8.1
django-phone-verify==0.1.1
django-phonenumber-field==4.0.0
django-sendgrid==1.0.1
django-sendgrid-v5==0.9.0
django-smtp-ssl==1.0
djangorestframework==3.11.1
docutils==0.15.2
entrypoints==0.3
future==0.18.2
gunicorn==20.0.4
idna==2.10
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.3
packaging==20.4
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
phonenumbers==8.12.9
pickleshare==0.7.5
prometheus-client==0.8.0
prompt-toolkit==3.0.6
psycopg2==2.8.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.6.1
PyJWT==1.7.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-http-client==3.3.1
pytz==2020.1
pyzmq==19.0.2
requests==2.24.0
s3transfer==0.3.3
Send2Trash==1.5.0
sendgrid==6.4.6
six==1.15.0
sqlparse==0.3.1
starkbank-ecdsa==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
twilio==6.45.1
urllib3==1.25.9
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.1.0
zipp==3.1.0
