{% extends 'base.html' %} {% block content %}
<h1>Get your resource on our map by telling us more!</h1>
<br />
<form>
  What do you want to call the resource? (Only you can see this)
  <input type="text" name="resource name" /><br />
  What is the name of your organization?
  <input type="text" name="organization name" /><br />
  What category is this under?
  <select name="resource_catergory">
    <option value="food">Food</option>
    <option value="shelter">Shelter</option>
    <option value="clothing">Clothing</option>
    <option value="mental_health">Mental Health Services</option>
    <option value="medical">Medical Assistance</option>
    <option value="employment">Employment Aid</option>
    <option value="recovery">Substance Abuse Recovery</option> </select
  ><br />
  What hours is this available?
  <input type="text" name="hours" /><br />
  Provide informational link
  <input type="text" name="url" /><br />
  Provide description/ notes
  <input type="text" name="notes" /><br />
  Address:<br />
  Street
  <input type="text" name="street" /><br />
  City
  <input type="text" name="address" /><br />
  State
  <input type="text" name="address" /><br />
  Phone (Area) XXX-XXXX
  <input type="text" name="phone" /><br />
  <input type="submit" value="Create Resource" />
</form>
{% endblock %}
