<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SF Resource Hub</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <div class="container text-center">
      <div class="register text-left">
        <h1>Sign Up</h1>
        {% if error_message %}
        <p class="red-text">{{ error_message }}</p>
        {% endif %}
        <form method="post" action="{% url 'signup' %}">
          {% csrf_token %} {{ form.as_p }}
          <input type="submit" class="btn btn-info my-2" value="Sign Up" />
        </form>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
