<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=false;"
    />
    <title>St.Anthony's Resource Hub</title>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <div class="container-fluid">
      <nav
        class="navbar navbar-expand-lg navbar-light ml-auto shadow"
        style="background-color:#FFFFFF">
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggler"
          aria-controls="navbarToggler"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <a class="navbar-brand darken-on-hover" style="font-family: sentinel;" href="https://www.stanthonysf.org/">
            <img src="{% static 'images/logo_60x163.png' %}"
             class="img-fluid img-center"
             style="width:320px; object-fit:cover;">
          </a>
          <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link menu-darken-on-hover" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-darken-on-hover" href="{% url 'home' %}#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-darken-on-hover" href="{% url 'home' %}#browse-resources"
                >Browse Resources</a
              >
            </li>
            <li>
              <a class="nav-link menu-darken-on-hover" href="/contact" role="button"
          >Contact Us</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link menu-darken-on-hover" href="{% url 'resources_create' %}"
                >Manage Resources</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="main">
        {% block content %} {% endblock %}
      </div>
      <div class="footer">
      <nav class="nav-navbar navbar-light bg-light justify-content-center "></nav>
      <div class="container text-center">
          <p class="font-weight-bold text-secondary">
            SF Resource Hub 
          </p>
          <hr>
          <p class="font-weight-light text-secondary">
            sfresourcehub@gmail.com
          </p>
        </nav>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
