{% extends 'base.html' %} {% block content %}
<div class="container text-center">
  <img
    src="/static/images/golden-gate.jpeg"
    class="mt-4 mb-3 img-fluid" width=600 height=600
    alt="golden gate bridge"
  />
  <div class="buttons mt-5 mb-5">
    <a class="btn btn-info my-2"  role="button"
      >Food</a
    >
    &nbsp;&nbsp;
    <a class="btn btn-info my-2"  role="button"
      >Shelter</a
    >
    &nbsp;&nbsp;
    <a class="btn btn-info my-2"  role="button"
      >Clothing</a
    >
    &nbsp;&nbsp;
    <a class="btn btn-info my-2"  role="button"
      >Hygiene</a
    >
    &nbsp;&nbsp;
    <a class="btn btn-info my-2"  role="button"
      >Meals</a
    >
    &nbsp;&nbsp;
    <a class="btn btn-info my-2"  role="button"
      >Financial Support</a
    >
    &nbsp;&nbsp;
    <a class="btn btn-info my-2"  role="button"
    >Addiction Recovery</a
  >
  </div>
  </div>
</div>
{% endblock %}
</body>
</html>
