{% extends 'base.html' %} {% block content %}
<div class="container text-center">
  <img
    src="/static/images/golden-gate.jpeg"
    class="mt-4 mb-3 img-fluid" width=600 height=600
    alt="golden gate bridge"
  />
  <div class="buttons mt-5 mb-5">
    <img
    src="/static/images/food.jpg"
    class="mt-4 mb-3 img-fluid" width=200 height=200
    alt="serving food"
  />
    <a class="btn btn-info my-2"  role="button"
      >Food</a
    >
  
    &nbsp;&nbsp;
    <img
    src="/static/images/shelter.jpg"
    class="mt-4 mb-3 img-fluid" width=200 height=200
    alt="serving food"
  />
    <a class="btn btn-info my-2"  role="button"
      >Shelter</a
    >
    &nbsp;&nbsp;
    <img
    src="/static/images/clothing.jpg"
    class="mt-4 mb-3 img-fluid" width=200 height=200
    alt="serving food"
  />
    <a class="btn btn-info my-2"  role="button"
      >Clothing</a
    >
    &nbsp;&nbsp;
    <img
    src="/static/images/shower.jpg"
    class="mt-4 mb-3 img-fluid" width=200 height=200
    alt="serving food"
  />
    <a class="btn btn-info my-2"  role="button"
      >Hygiene</a
    >
    &nbsp;&nbsp;
    <img
    src="/static/images/jobtraining.jpg"
    class="mt-4 mb-3 img-fluid" width=200 height=200
    alt="serving food"
  />
    <a class="btn btn-info my-2"  role="button"
      >Financial Empowerment</a
    >
    &nbsp;&nbsp;
    <img
    src="/static/images/addictionrecovery.jpeg"
    class="mt-4 mb-3 img-fluid" width=200 height=200
    alt="serving food"
  />
    <a class="btn btn-info my-2"  role="button"
    >Addiction Recovery</a
  >
  &nbsp;&nbsp;
  <img
  src="/static/images/medical.jpg"
  class="mt-4 mb-3 img-fluid" width=200 height=200
  alt="serving food"
/>
  <a class="btn btn-info my-2"  role="button"
  >Medical Services</a
>
  </div>
  </div>
</div>
{% endblock %}
</body>
</html>
