
    {% extends 'base.html' %} {% block content %}
    <div class="container text-center">
      <img
        src="/static/images/golden-gate.jpeg"
        class="mt-4 mb-3 img-fluid" width=600 height=600
        alt="golden gate bridge"
      />
      <div class="homepage-about">
        <p>
         
          The SF Resource Hub is your one-stop shop to over 500 area service providers and programs in various categories including: Food, Shelter, Clothing, Mental Health Services, Medical Assistance, Financial Empowerment, and Substance Abuse Recovery. 

          Our resource is designed to empower not only those who are in need, but the whole community so that we can all work together to make sure that everyone in our community is housed, safe, healthy, and respected. 
        </p> 
      </div>
      <div class="buttons mt-5 mb-5">
        <a class="btn btn-info my-2" href="/resources" role="button"
          >Find Resources</a
        >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-info my-2" href="/accounts/login" role="button"
          >Share Resources</a
        >
      </div>
      <div class="row m-1 align-items-center">
        <div class="col-md m-1 text-center">
          <img
            src="/static/images/family.png"
            width="400"
            class="img-fluid p-2"
            alt="photo"
          />
        </div>
        <div class="col-md m-1 text-center">
          <img
            src="/static/images/people.png"
            width="400"
            class="img-fluid p-2"
            alt="photo"
          />
        </div>
      </div>
      &nbsp;
      <div class="row m-1 align-items-center">
        <div class="col-md m-1 text-center">
          <iframe
            width="450"
            height="400"
            frameborder="0"
            style="border: 0;"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDtnS3D3bvBjvrLTLJJOv8xftB5Ctdgeck
          &q=San Francisco+CA"
            allowfullscreen
          >
          </iframe>
        </div>
        <div class="col-md m-1">
          <h1>Follow Us</h1>
          <a href="https://www.instagram.com/sfresourcehub/" ><img src="/static/images/instagram-logo.png" width="100"></a>
          
          <!-- contact form -->         
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
