
    {% extends 'base.html' %} {% block content %}
    <div class="container text-center">
     
      <!-- Images -->

      <div class="row m-1 align-items-center no-gutters">
        <div class="col text-center">
            <img src="../static/images/home-golden-gate.jpg"
             class="img-fluid img-center"
             style="width:100%; object-fit:cover;">
        </div>
        <div class="col text-center">
            <img src="../static/images/home-homeless-shelter-food.jpg"
             class="img-fluid img-center"
             style="width:100%; object-fit:cover;">
        </div>
        <div class="col text-center">
            <img src="../static/images/home-crates.jpg"
             class="img-fluid img-center"
             style="width:100%; object-fit:cover;">
        </div>
      </div>

      <!-- About Section -->
      <div>
        St. Anthony's Resource Map contains listings to service providers and programs within the Tenderloin for anyone who is in need.
      </div>

      <!-- Navigation -->
      <div class="mt-5">
        <div class="row">
          Browse All Resources
        </div>
        <div class="row">
          <a href="/resources"
           role="button">
            <img src="../static/images/tenderloin.png"
             class="img-fluid"
             style="height:100%;">
          </a>
        </div>
      </div>

      <div class="mt-5">
        <div class="row">
          Browse Resources By Category
        </div>
        <div class="row">
            <a class="btn btn-info"
             href="/resources"
             role="button">Food</a>
        </div>
        <div class="row buttons mt-2 mb-0">
            <a class="btn btn-info"
             href="/resources"
             role="button">Shelter and Hygiene</a>
        </div>
        <div class="row buttons mt-2 mb-0">
            <a class="btn btn-info"
             href="/resources"
             role="button">Medical Assistance, Addiction Recovery, and Mental Health</a>
        </div>
        <div class="row buttons mt-2 mb-0">
            <a class="btn btn-info"
             href="/resources"
             role="button">Women and Children</a>
          </div>
        <div class="row buttons mt-2 mb-0">
            <a class="btn btn-info"
             href="/resources"
             role="button">Clothing</a>
        </div>
          <div class="row buttons mt-2 mb-5">
            <a class="btn btn-info"
             href="/resources"
             role="button">Financial Empowerment</a>
        </div>
      </div>

      <div class="mt-5">
        <div class="row">
          Get Involved
        </div>
        <div class="row buttons mt-2 mb-0">
          <a class="btn btn-info"
             href="/resources"
             role="button">Contact Us</a>
        </div>
        <div class="row buttons mt-2 mb-5">
          <a class="btn btn-info"
             href="/resources"
             role="button">Log In</a>
        </div>
      </div>

    </div>
    {% endblock %}
  </body>
</html>
