@font-face {
    font-family: 'avenir-black';
    src: url('../fonts/avenir-black.otf') format("opentype");
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir.ttc') format("truetype");
}

* {
  font-family: 'avenir';
  color: #6E645C;
}

.bold {
  font-family: 'avenir-black';
}

.home-stanthonys, .home-stanthonys:hover {
  color:#78291C;
}

.menu-darken-on-hover:hover {
  background-color: #E9E9E9;
}

.darken-on-hover:hover {
  opacity:0.6;
}

.btn-home-resources, .btn-home-resources:hover {
  background-color:#D77540;
  color:#F8CD7F;
}

.btn-home-get-involved, .btn-home-get-involved:hover {
  background-color:#E9E9E9;
  color:#6EB2BD;
}

.btn-default, .btn-default:hover {
  background-color:#D77540;
  color:#E9E9E9;
}

.btn-resource-listing, .btn-resource-listing:hover {
  background-color:#D77540;
  color:#E9E9E9;
}

div.align-div-to-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.form-label {
  vertical-align: top;
  color:#00AECB !important;  
}

a[aria-expanded=true] .manage-plus {
   display: none;
}

a[aria-expanded=false] .manage-minus {
   display: none;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-bottom: 20px;
}

h1 {
  text-align: center;
  color: #6E645C;
  width: 100%;
}

form {
  color: #14a3b8;
  padding-left: 20px;
}

th {
  vertical-align: top;
  color:#00AECB;
}

.update {
  background-color: #14a3b8;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
