{% extends 'base.html' %}  {% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {{ form.media }}
    <title>SF Resource Hub</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfXa-qMJ4xi6DKVaa_N_xsPSXWq2YKEyA&callback=initAutocomplete&libraries=places&v=weekly"
      defer
    ></script>
    <script src="{% static 'js/address.js' %}"></script>
</head>

<body>
<div class="row m-1 align-items-center" style="">
  <h1 class="m-2" id="page_title">Add Resources</h1>
</div>

<div class="m-4">
<form method="post" nonvalidate>
  {% csrf_token %}

  {{ form.non_field_errors }}

  <div class="row m-2">
    {{ form.resource_name.errors }}
    <div class="col-4">
      <label for="{{ form.resource_name.id_for_label }}" class="form-label">Resource:</label>
    </div>
    <div class="col-8">
      {{ form.resource_name }}
    </div>
  </div>

  <div class="row m-2">
    {{ form.org_name.errors }}
    <div class="col-4">
      <label for="{{ form.org_name.id_for_label }}" class="form-label">Organization:</label>
    </div>
    <div class="col-8">
      {{ form.org_name }}
    </div>
  </div>

  <div class="row m-2">
    {{ form.category.errors }}
    <div class="col-4">
      <label for="{{ form.category.id_for_label }}" class="form-label">Category:</label>
    </div>
    <div class="col-8">
      {{ form.category }}
    </div>
  </div>

  <div class="row m-2">
    {{ form.opening_hours.errors }}
    <div class="col-4">
      <label for="{{ form.opening_hours.id_for_label }}" class="form-label">Opening Hours:</label>
    </div>
    <div class="col-8">
      {{ form.opening_hours }}
    </div>
  </div>

  <div class="row m-2">
    {{ form.phone.errors }}
    <div class="col-4">
      <label for="{{ form.phone.id_for_label }}" class="form-label">Phone Number:</label>
    </div>
    <div class="col-8">
      {{ form.phone }}
    </div>
  </div>

  <div class="row m-2">
    {{ form.address.errors }}
    <div class="col-4">
      <label for="{{ form.address.id_for_label }}" class="form-label">Address:</label>
    </div>
    <div class="col-8">
      {{ form.address }}
    </div>
  </div>

  <!-- Hidden fields for address details -->
  <div style="visibility:hidden;">
    {{ form.street_number.errors }}
    {{ form.street_number }}
    {{ form.street_name.errors }}
    {{ form.street_name }}
    {{ form.city.errors }}
    {{ form.city }}
    {{ form.state.errors }}
    {{ form.state }}
    {{ form.country.errors }}
    {{ form.country }}
    {{ form.postal_code.errors }}
    {{ form.postal_code }}
    {{ form.lat.errors }}
    {{ form.lat }}
    {{ form.long.errors }}
    {{ form.long }}
  </div>

  <div class="row m-2">
    {{ form.url.errors }}
    <div class="col-4">
      <label for="{{ form.url.id_for_label }}" class="form-label">Url:</label>
    </div>
    <div class="col-8">
      {{ form.url }}
    </div>
  </div>
 
  <div class="row m-2">
    {{ form.notes.errors }}
    <div class="col-4">
      <label for="{{ form.notes.id_for_label }}" class="form-label">Notes:</label>
    </div>
    <div class="col-8">
      {{ form.notes }}
    </div>
  </div>

  <div class="form-actions">
    <div class="shadow" style="width:fit-content;">
      <button class="btn bold darken-on-hover btn-default" type="submit">Add</button>
    </div>
  </div>
</form>
</div>
</body>

{% endblock %}
