{% extends 'base.html' %}
{% block content %}
<h1>Resource Details</h1>
        <div class="card">
            <div class="card-content">
                <span class="card-title">NGO: {{ resource.user }}</span>
                <p>Resource: {{ resource.resource_name }}</p>
                <p>Category: {{ resource.category }}</p>
                <p>Hours: {{ resource.hours }}</p>
                <p>Street: {{ resource.street}}</p>
                <p>City: {{ resource.city}}</p>
                <p>State: {{ resource.state }}</p>
                <p>Phone: {{ resource.phone}}</p>
                <a href="{{ resource.url }}">Website: {{ resource.url}}</a>
            </div>
            {% if request.user %}
            <div class="card-action">
                <a href="{% url 'resources_update' resource.id %}">Edit</a>
                <a href="{% url 'resources_delete' resource.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}
