{% extends 'base.html' %} {% block content %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <title>SF Resource Hub</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/markers.css' %}"
    />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfXa-qMJ4xi6DKVaa_N_xsPSXWq2YKEyA&callback=initMap&libraries=drawing&v=weekly"
      defer
    ></script>
    <script>


        const icons = [
        "{% static 'images/icons/food.gif' %}",
        "{% static 'images/icons/clothing.gif' %}",
        "{% static 'images/icons/addiction_recovery.gif' %}",
        "{% static 'images/icons/hygiene.gif' %}",
        "{% static 'images/icons/financial_empowerment.gif' %}",
        "{% static 'images/icons/shelter.gif' %}",
        "{% static 'images/icons/women_and_children.gif' %}",
        "{% static 'images/icons/mental_health.gif' %}",
        "{% static 'images/icons/medical_assistance.gif' %}"
      ];

       const default_icon = "{% static 'images/icons/default.gif' %}"

        resources_from_database = []

      {% for resource in resources %}
        opening_hours = "<ul>"
          {% for key, value in resource.opening_hours.opening_hours.items %}
           if ("{{value.enabled}}" == "True") {
             opening_hours += "<li>{{key}}: {{value.opening_time}} - {{value.closing_time}}</li>"
           } else {
             opening_hours += "<li>{{key}}: closed</li>"
           }
          {% endfor %}
        opening_hours += "\n<ul>"

        r = {
          resource_name: "{{resource.resource_name}}",
          org_name: "{{resource.org_name}}",
          category: "{{resource.category}}",
          hrs: opening_hours,
          link: "{{resource.url}}",
          notes: "{{resource.notes}}",
          address: "{{resource.address}}",
          lat: "{{resource.lat}}",
          long: "{{resource.long}}",
          phone: "{{resource.phone}}",
        }
        resources_from_database.push(r)
      {% endfor %}
    </script>
    <script src="{% static 'js/resources.js' %}"></script>
    <script src="{% static 'js/markers.js' %}"></script>
  </head>
  <body>
    <h1>Resources</h1>
    <div id="map"></div>
    <br>
    {% for resource in resources %}
        {% if request.user %}
            <a href="{% url 'detail' resource.id %}">
        {% endif %}
        <div
         class="card text-center shadow-lg p-3 mb-5 bg-white rounded"
         id="card"
         style="width: 18rem"
        >
            <div class="card-content">
                <h5 class="card-title">{{ resource.org_name }}</h5>
                <br/>
                <p>Resource: {{ resource.resource_name }}</p>
                <p>Category: {{ resource.category }}</p>
            </div>
        </div>
        </a>
    {% endfor %}
    {% endblock %}
  </body>
</html>
