{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SF Resource Hub</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtnS3D3bvBjvrLTLJJOv8xftB5Ctdgeck&callback=initMap&libraries=drawing&v=weekly
    "></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="{% static  'js/resources.js' %}"></script>
    <script src="{% static  'js/render_resources.js' %}"></script> 
  </head>
  <body>
  <div class="container">
    <h1>Resources</h1>
    {% for resource in resources %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ resource.org_name }}</span>
          <p>Category: {{ resource.category }}</p>
          <p>NGO: {{ resource.resource_name }}</p>
          <p>Street: {{ resource.street}}</p>
          <p>Notes: {{ resource.notes }}</p>
        </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div id="map"></div>
    <div>
        <table id="resources">
        </table>
    </div>
  </div>
  {% endblock %}
</body>
</html>
